/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f9f9f9;
  color: #444;
  font-size: 14px;
}
.container {
  max-width: 1100px;
  margin: 20px auto;
}
.row {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 1 0 0%;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid #bebebe;
  border-radius: 5px;
  max-width: 500px;
  background: #eee;
  padding: 15px 20px;
  margin-bottom: 20px;

}
form input {
  border: 0;
  max-width: 50%;
  flex: 1 0 50%;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  color: #666;

}
form button {
  color: #fff;
  background: #27ae60;
  padding: 10px 30px;
  border: 0;
  text-transform: uppercase;
  flex: 1 0 40%;
  max-width: 40%;
}
.card {
  text-align: center;
}
